/*Untuk 1 page*/
* {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  scroll-behavior: smooth;
}
/*Navbar*/
.one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 2%;
  padding-right: 2%;
  width: 96%;
  font-size: 15px;
  z-index: 2;
  position: fixed;
}
/*untuk InnoTech*/
.logo {
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Audiowide", sans-serif;
  background: -webkit-linear-gradient(45deg, #2352fc, #f9004d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
span {
  color: #f9004d;
}
nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 10px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}
nav ul li a:hover {
  color: #f9004d;
  transform: 0.4s;
}
.back {
  border: none;
  background: linear-gradient(45deg, #2352fc, #f9004d);
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 40px;
  border-radius: 15px;
  transition: transform 0.4s;
}
/*animation besar kecil*/
.back:hover {
  transform: scale(1.2);
  text-decoration: none;
  color: white;
}
/*Page Vr*/
.VRBackGround {
  height: 100vh;
  width: 100%;
  background-image: url("Image-VR/Background-VR.png");
  background-size: cover;
}
.VR_Text {
  position: absolute;
  left: 3%;
  font-size: 20px;
  padding: 10px;
  width: 600px;
  height: 240px;
  text-align: justify;
  margin-left: 4%;
  margin-top: 10%;
}
.VR_Text h3 {
  font-size: 50px;
}

.img_VRpng {
  position: absolute;
  right: 1%;
  width: 40%;
  top: 5%;
  margin-top: 1%;
  margin-right: 10%;
  opacity: 0.8;
  transform: translate(0px);
  animation: float 6s ease-out infinite;
}

/*Page AI*/
.AIBackGround {
  height: 100vh;
  width: 100%;
  background-image: url("Image-AI/Background-AI.png");
  background-size: cover;
}

.AI_Text {
  padding-right: 25px;
  width: 600px;
  position: absolute;
  right: 8%;
  top: 20%;
}
.AI_Text h3 {
  font-size: 50px;
}
.AI_Text p {
  font-size: 20px;
}

.img_AIpng {
  position: relative;
  width: 30%;
  margin-top: 5%;
  margin-left: 10%;
  opacity: 0.9;
  transform: translate(0px);
  animation: float 6s ease-out infinite;
}

/*Drone Page*/

.DroneBackGround {
  height: 100vh;
  width: 100%;
  background-image: url("Image-Drone/Background-Drone.png");
  background-size: cover;
}
.Drone_Text {
  padding-right: 25px;
  width: 550px;
  position: absolute;
  left: 10%;
  top: 25%;
}
.Drone_Text h3 {
  font-size: 50px;
}
.Drone_Text p {
  font-size: 20px;
}

.img_Dronepng {
  position: absolute;
  width: 50%;
  right: 6%;
  top: 20%;
  opacity: 0.9;
  transform: translate(0px);
  animation: float 6s ease-out infinite;
}

/*Innovation Page*/

.InnoBackGround {
  height: 100vh;
  width: 100%;
  background-image: url("Image-Innovation/Inno.jpg");
  background-size: cover;
}

.blur-Inno {
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  position: absolute;
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 40px;
}

.Innov_Text {
  padding-right: 25px;
  width: 550px;
  position: absolute;
  left: 10%;
  top: 15%;
}

.Innov_Text h3 {
  font-size: 50px;

}

.Innov_Text p {
  font-size: 20px;
}

.img_Innovpng {
  position: absolute;
  width: 35%;
  right: 6%;
  top: 15%;
  opacity: 0.9;
  transform: translate(0px);
  animation: float 6s ease-out infinite;
}

/*KeyFrame*/
@keyframes float {
  0% {
    transform: translate(10px);
  }
  50% {
    transform: translate(60px);
  }
  100% {
    transform: translate(10px);
  }
}
